#wrapper{
	width: 960px;
	margin: 0 auto 0;
	position: relative;
}
header{
	float: left;
	width: 960px;
	height: 80px;
    text-align: center;
    color: #039;
}
article{
	float: left;
	width: 630px;
	text-align: center;
}
article section{
	float: left;
	width: 630 px;
	margin 0 10px 0;
}
aside{
	float: left;
	width: 165px;
    text-align: center;
}
tr{
	background-color: #fff;
	color: black;
	border-bottom: 2px solid #6678b1;
	margin: 10px;
	width: 20px;
}
tr:hover{
	color: #039;
}
th{
	background-color: #fff;
	margin: 12px;
	color: #039;
	padding: 10px;
	border-bottom: 2px solid #6678b1;
	border-spacing: 0px;
}
td{
	background-color: #fff;
	color: #000;
	padding: 8px;
}